launcher/Debug
launcher/x64
launcher/.vs
launcher/launcher.aps

launcher/jdk
launcher/minecraft.jar
launcher/.fabric
launcher/fabric.jar
launcher/libraries
launcher/natives

launcher/jdk.zip
launcher/forge.zip

launcher/saves
launcher/logs
launcher/resourcepacks
launcher/screenshots
launcher/options.txt
launcher/servers.dat
launcher/servers.dat_old

launcher/mods
launcher/data
launcher/config
launcher/defaultconfigs